@media only screen and (max-width:768px){
body{
    padding: 0;
    margin: 0;
    background: url(yousef-espanioly-8ja-Ns8iqO4-unsplash.jpg);
    background-repeat:repeat;
    background-size: cover;
    background-position: fixed;;
}
.main{
    width: 100%;
    height: 270px;
    text-align: center;
    margin-top: 20%;
}
.image{
    width: 270px;
    height: 270px;

}
.butt{
    width: 100%;
    height: 100px;
    margin-top: 40%;
    text-align: center;
}
#navba_but{
    width: 220px;
    height: 50px;
    padding-top: 0;
    border-radius: 5px;
    line-height: 50px;
    margin:auto;
    background-color: #ff8000;
}
.but{
    border-style:none;
    background-color:#ff8000;
    width: 60%;
    height: 50px;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    outline: none;
    font-size: 20px;
}
}